.ai {

  & .highlightsIa {
    & > article.flex-center {
      align-items: flex-start;
      margin-bottom: 2rem;
      height: 12rem;
      
      & img {
        width: 5rem;
      }
    }
  }

  & .ads {
    & img {
      margin-bottom: 2rem;
    }
  }

  & .more {
      & article.flex-center {
        margin-bottom: 2rem;
      & img {
        width: 4.5rem;
      }
    }
    
  }

}

@media (width >= 80rem) {
  & .ai {
    grid-template-columns: 1.4fr 1fr;

    & .highlightsIa {
      & > article.flex-center {
        
        & img {
          order: 1;
          width: 11rem;
        }
      }
    }

  }
}