.card-label {
  background-color: var(--brand-color-dark);
  font: var(--tag);
  text-transform: uppercase;
  padding: 0.5rem;
  display: inline-block;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.heading {
  padding-top: 0.75rem;
  border-top: 1px solid var(--stroke-color);
  font: var(--span);

  & div.flex-center {
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
      color: var(--brand-color-light);
      
      svg path {
        fill: var(--brand-color-light);
      }
    }
  }
}