.desktop-only {
  display: none;
}

.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr;
}

.even-columns {
  display: grid;
}

.flex-center {
  display: flex;
  align-items: center;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}


@media (width >= 80rem) {
  :root {
    --py-base: 1.25rem;
    --py-lg: 1rem;
    --py-xl: 5rem
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}