.weekly {
  
  & .highlightsNews {
    position: relative;
    
    & span.card-label {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    } 
    
    & img {
      margin-bottom: 0.5rem;
    }

  }


}